<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24678525743-vvp7bvpmia2luor47mmar4atmlmuq18e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24678525743-vvp7bvpmia2luor47mmar4atmlmuq18e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24678525743-ep45hkqsfgap8vt4uc9f1ivm18q267id.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhr_Y6hSsnSgXUtJyyU6RAGBK4UeJSbuY</string>
	<key>GCM_SENDER_ID</key>
	<string>24678525743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testproject</string>
	<key>PROJECT_ID</key>
	<string>signup-login-9679a</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-login-9679a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24678525743:ios:4276e6bd01e5ff84ba4fda</string>
	<key>DATABASE_URL</key>
	<string>https://signup-login-9679a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>